<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS9V-SjVYqy0VPCSyaVopsAWwxSlkBuLc</string>
	<key>GCM_SENDER_ID</key>
	<string>661147584225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTodoApp</string>
	<key>PROJECT_ID</key>
	<string>tododb-5bc38</string>
	<key>STORAGE_BUCKET</key>
	<string>tododb-5bc38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661147584225:ios:32d01138ddd457681759a0</string>
</dict>
</plist>